.editor {
    background-color: black;
    display: block;
    color: white;
    font-size: large;
    font-family: monospace;
    height: 100%;
    width: 100%;
    border-style: dashed;
    padding: 20px;
    caret-color: orange;
}