.outer {
    background-color: black;
    /* opacity: ; */
    height: 100vw;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 20px;
}

.present {
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100%;
}

.sessionInfo {
    background-color: black;
    border-style: solid;
    border-color: greenyellow;
    font-family: Helvetica;
    font-size: 17px;
    color: greenyellow;
    padding: 20px;
}